.account_user dl{
display: inline-block;
padding: 5px 10px;
height: 30px;
line-height: 30px;
color: #222;
}
.account_user dt{
position: relative;
width: 20px;
height: 20px;
float: left;
margin: 5px;
}
.account_user dd{
font-size: 19px;
line-height: 30px;
text-align: left;
margin-left: 30px;
}
.account_user-male {
background-image: url('../Images/male.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.account_user-female {
background-image: url('../Images/female.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.account_user-organization {
background-image: url('../Images/organization.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.account_skill_data > span{
padding: 0 8px;
border: 1px solid rgba(0,0,0,0.1);
background: #f1f1f1;
line-height: 26px;
margin-right: 5px;
}
.account_skill_list > span{
color: #fff;
background: #0995D8;
border: 1px solid #008BD3;
border-radius: 2px;
padding: 2px 5px;
line-height: 26px;
margin-right: 5px;
}
.account_need_list > span{
font-size: 18px;
padding: 0 4px;
line-height: 30px;
color: #C44141;
text-decoration: underline;
cursor: pointer;
}
#account_container > article > section{
position: relative;
width: 95%;
max-width: 1200px;
margin: 10px auto;
background: #fff;
border-radius: 5px;
-webkit-box-shadow: 0 0 10px 1px #c3c3c3;
-moz-box-shadow: 0 0 10px 1px #c3c3c3;
box-shadow: 0 0 10px 1px #c3c3c3;
}
#account_container > article{
position: relative;
width: 100%;
height: 100%;
overflow-y: auto;
}
#account_container > article > section > h2{
line-height: 30px;
padding: 0 5px;
color: black;
font-size: 16px;
}
#account_container > article > section > p,
.account_need_list,
.account_skill_list,
.account_experience_list,
.account_education_list,
.account_email_list,
.account_motto_list,
.account_about_list,
.account_experience_list{
padding: 0 28px 5px;
color: rgb(17, 85, 204);
font-size: 18px;
line-height: 30px;
height: 30px;
}
.account_passwd > p,
.account_validation > p,
.account_bonus > p{
padding: 5px 10px !important;
height: 30px !important;
line-height: 30px !important;
color: #222 !important;
}
#account_nav {
position: fixed;
right: 0;
height: 44px;
left: 0;
top: 51px;
background: #f1f1f1;
-moz-box-shadow: 0 5px 10px #cbcbcb;
-webkit-box-shadow: 0 5px 10px #cbcbcb;
box-shadow: 0 5px 10px #cbcbcb;
z-index: 31;
}
#account_container{
position: absolute;
top: 44px;
left: 0;
bottom: 0;
right: 0;
z-index: 30;
overflow-y: hidden;
background: #e9e9e9;
}
@media screen and (min-width: 981px){
#account_nav > section{
position: relative;
width: 100%;
height: 200px;
max-width: 1200px;
margin: 0 auto;
}
}
@media screen and (min-width: 601px) and (max-width: 980px){
#account_nav > section{
position: relative;
width: 100%;
height: 160px;
max-width: 1200px;
margin: 0 auto;
}
}
@media screen and (max-width: 600px){
#account_nav > section{
position: relative;
width: 100%;
height: 120px;
max-width: 1200px;
margin: 0 auto;
}
}
/**/
#account_list{
position: relative;
background: white;
height: 44px;
width: 100%;
text-align: center;
float: left;
}
#account_list > li{
position: relative;
list-style: none;
font-size: 14px;
line-height: 42px;
border-bottom: 2px solid transparent;
margin: 0 12px;
display: inline-block;
}
#account_list > li > a{
text-decoration: none;
color: #262626;
}
#account_list a > div{
display: inline-block;
}
#account_list li.tabs-active{
border-color: #427fed;
font-weight: bold;
}
#account_back{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
z-index: 40;
cursor: pointer;
}
.account_back{
position: absolute;
left: 0;
top: 0;
height: 44px;
width: 40px;
}
.back_bottom{
position: absolute;
left: 10px;
bottom: 12px;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 10px 10px 10px 0;
border-right-color: #575757;
}
.back_front{
position: absolute;
left: 12px;
bottom: 12px;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 10px 10px 10px 0;
border-right-color: #fff;
}
#account_back:hover,
#account_bonus:hover,
#change_passwd:hover,
#re-send_validation:hover,
#account_container .account_modify:hover,
.account_edit > em:hover{
background: rgba(77,144,254,.7);
}
#account_container .account_modify{
display: inline-block;
padding: 5px;
color: #427fed;
cursor: pointer;
height: 16px;
line-height: 16px;
font-size: 13px;
font-style: normal;
}
.account_modify_area{
border-top: 1px solid #ddd;
margin: 0 5px;
text-align: right;
}
.account_right{
 position: absolute;  
    right: 10px;  
    top: 10px;  
    height: 20px;  
    width: 20px;
}
.account_right-bottom{
position: absolute;  
    right: 0;  
    bottom: 0;  width: 0;  height: 0;  border-color: transparent;  border-style: solid;    
    border-width: 10px 0 10px 10px;  
    border-left-color: #676767;
}
.account_right-front{
 position: absolute;  
    right: 3px;  bottom: 0;  width: 0;  height: 0;  border-color: transparent;  border-style: solid;  
    border-width: 10px 0 10px 10px;  
    border-left-color: #fff;
}
/**/
.co_item{
position: relative;
background: white;
width: 96%;
margin: 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
}
.co_qu{
width: 100%;
padding: 2px 0;
}
.co_qu_image{
position: relative;
width: 50px;
height: 50px;
float: left;
margin: 5px;
}
.co_ans_image{
position: relative;
float: left;
width: 40px;
height: 40px;
margin: 5px 10px;
}
.co_qu_image img,
.co_ans_image img{
width: 100%;
height: 100%;
}
.co_qu_info,
.co_ans_info{
position: relative;
margin: 5px 0 10px 65px;
}
.co_item section dl{
margin: 3px 0;
}
.co_item section dt{
position: relative;
width: 16px;
height: 16px;
float: left;
margin: 2px;
}
.co_item section dd{
font-size: 16px;
line-height: 18px;
text-align: left;
margin-left: 20px;
}
.co_item section p{
padding: 5px;
margin: 0;
color: #444;
line-height: 16px;
font-weight: 700;
}
.co_user-male{
background-image: url('../Images/male.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.co_user-female{
background-image: url('../Images/female.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.co_item_more{
position: absolute;
right: 5px;
bottom: 0;
color: #4183c4;
cursor: pointer;
font-weight: bold;
z-index: 35;
text-decoration: none;
}
@media screen and (min-width: 981px){
.co_item > div{
margin: 20px 30px;
}
.co_ans{
padding: 2px 0;
background: #f7f7f7;
margin-left: 65px;
}
}
@media screen and (min-width: 601px) and (max-width: 980px){
.co_item > div{
margin: 15px 10px;
}
.co_ans{
padding: 2px 0;
background: #f7f7f7;
margin-left: 30px;
}
}
@media screen and (max-width: 600px){
.co_item > div{
margin: 15px 5px;
}
.co_ans{
padding: 2px 0;
background: #f7f7f7;
margin-left: 5px;
}
}
.badgecount{
margin: 0 5px;
}
/**/
.UserImg_wrapper{
position: relative;
width: 100%;
height: 330px;
max-width: 980px;
margin: 10px auto;
}
.passwd_wrapper{
display: inline-block;
position: relative;
padding: 20px 0;
width: 100%;
max-width: 980px;
}
#UserImg_slicer{
border: 3px dashed #333;
margin: 0;
}
#UserImg_upload{
display: none;
}
#UserImg_preview{
width: 114px;
height: 114px;
border: 3px dashed #333;
margin: 0;
}
.UserImg_btn{
position: relative;
width: 100%;
height: 40px;
float: left;
}
#UserImg_upload-btn,
#UserImg_save-btn{
position: relative;
display: inline-block;
margin: 5px 6px 0;
width: 80px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: top;
font-size: 14px;
padding: 4px 0px;
line-height: 20px;
color:#333;
text-align: center;
cursor: pointer;
background: #f5f5f5;
border: 1px solid #ccc;
border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
border-bottom-color: #b3b3b3;
}
@media screen and (min-width: 768px){
.UserImg_wrapper > section{
position: relative;
float: left;
width: 50%;
height: 310px;
margin: 20px 0;
}
.UserImg_preview{
position: relative;
width: 100%;
height: 270px;
float: left;
}
.UserImg_preview > section{
position: relative;
margin: 63px 0 4px;
height: 20px;
line-height: 20px;
font-size: 16px;
color: #222;
}
}
@media screen and (max-width: 767px){
.UserImg_wrapper > section{
position: relative;
float: left;
width: 100%;
height: 310px;
margin: 20px 0;
}
.UserImg_preview{
position: relative;
width: 100%;
height: 160px;
float: left;
}
.UserImg_preview > section{
position: relative;
margin: 4px 0;
height: 20px;
line-height: 20px;
font-size: 16px;
color: #222;
}
}
/**/
.account_experience_input,
.account_about_input,
.account_motto_input,
.account_skill_input,
.account_need_input,
.account_email_input,
.account_education_input{
padding: 0 28px 5px;
color: rgb(17, 85, 204);
font-size: 18px;
}
#modify_experience,
#modify_about,
#modify_motto,
#modify_email,
#modify_education{
border: 1px solid #EBE5D7;
background: rgba(130,200,255,.2);
font-size: 16px;
border-radius: 5px;
margin: 0;
color: #008BD3;
line-height: 17px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
width: 100%;
resize: vertical;
padding: 10px 2.5%;
-webkit-box-shadow: 0 1px 2px 1px #EBE5D7;
-moz-box-shadow: 0 1px 2px 1px #EBE5D7;
box-shadow: 0 1px 2px 1px #EBE5D7;
}
.account_edit{
display: inline-block;
}
.account_edit > em{
display: inline-block;
padding: 5px;
color: #427fed;
cursor: pointer;
height: 16px;
line-height: 16px;
font-size: 14px;
font-weight: 700;
font-style: normal;
margin-left: 5px;
}
.account_email > strong{
position: absolute;
right: 5px;
top: 0;
height: 30px;
line-height: 30px;
font-size: 14px;
color: #EBE5D7;
}
/**/
.passwd_wrapper > div{
margin-top: 18px;
width: 100%;
}
.passwd_wrapper > .button-command{
display: inline-block;
}
#change_passwd-save{
border: 1px solid #1D80CF;
width: 100%;
text-align: center;
font-size: 15px;
box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
border-radius: 5px;
cursor: pointer;
line-height: 33px;
display: block;
padding: 0 15px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
color: #fafafa;
font-weight: 700;
letter-spacing: 3px;
}
#change_passwd-summary{
list-style: none;
color: #fff;
text-align: left;
margin: 5px;
font-size: 17px;
line-height: 29px;
}
.passwd_wrapper > div > input{
border: 1px solid #1672B9;
background: #e7f1f8;
font-size: 15px;
border-radius: 5px;
padding: 8px 10px;
box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15);
margin: 0;
color: #555;
line-height: 17px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
width: 100%;
}
.passwd_wrapper .icon-sign{
display: inline-block;
background-image: url('../Images/error_blue.png');
background-repeat: no-repeat;
}
.passwd_wrapper .icon-sign-error{
height: 16px;
width: 16px;
margin-right: 8px;
vertical-align: -3px;
}
.passwd_wrapper > .input-failure{
display: inline-block;
border-radius: 4px;
font-size: 13px;
box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.15);
}
#forget-password{
color: yellow;
line-height: 18px;
font-size: 14px;
height: 18px;
margin: 5px 0 0;
float: right;
cursor: pointer;
}
#forget-password:hover{
text-decoration: underline;
}
.input-password-forget{
display: inline-block;
width: 100%;
}
@media screen and (min-width: 768px){
.passwd_wrapper input,
.button-command,
.input-failure,
.input-password-forget{
max-width: 600px;
}
}
@media screen and (max-width: 767px){
.passwd_wrapper input,
.button-command,
.input-failure,
.input-password-forget{
max-width: 320px;
}
}
@media (max-width: 767px) and (min-width: 479px){
.passwd_wrapper,
.noti_wrapper,
.account_task_wrapper,
.account_co_wrapper,
#account_task_select,
#account_co_select{
max-width: 480px;
}
}
@media (max-width: 979px) and (min-width: 768px){
.passwd_wrapper,
.noti_wrapper,
.account_task_wrapper,
.account_co_wrapper,
#account_task_select,
#account_co_select{
max-width: 568px;
}
}
@media (max-width: 1199px) and (min-width: 980px){
.passwd_wrapper,
.noti_wrapper,
.account_task_wrapper,
.account_co_wrapper,
#account_task_select,
#account_co_select{
max-width: 780px;
}
}
@media (min-width: 1200px){
.passwd_wrapper,
.noti_wrapper,
.account_task_wrapper,
.account_co_wrapper,
#account_task_select,
#account_co_select{
max-width: 900px;
}
}
/**/
.account_validation,
.account_passwd,
.account_user,
.account_bonus{
position: relative;
}
.account_passwd,
.account_user,
.account_bonus{
border-bottom: 1px solid #ccc;
}
#change_passwd,
#account_bonus{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
cursor: pointer;
z-index: 35;
}
#re-send_validation{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
cursor: pointer;
z-index: 35;
border-radius: 0 0 5px 5px;
}
/**/
#account_task_select,
#account_co_select{
padding: 3px 0;
overflow: hidden;
margin: 0 auto;
}
@media (min-width: 601px){
#account_task_select > h2,
#account_co_select > h2{
float: left;
margin-right: 10px;
font-size: 22px;
line-height: 30px;
}
#account_task_select .stripe-line,
#account_co_select .stripe-line{
background: url(../Images/stripe.png);
height: 14px;
overflow: hidden;
margin-top: 8px;
}
}
@media (max-width: 600px){
#account_task_select > h2,
#account_co_select > h2{
float: left;
margin-right: 10px;
font-size: 18px;
line-height: 26px;
}
#account_task_select .stripe-line,
#account_co_select .stripe-line{
background: url(../Images/stripe.png);
height: 14px;
overflow: hidden;
margin-top: 6px;
}
}
#account_task_select > h2 > a,
#account_co_select > h2 > a{
color: #5E5E5E;
text-decoration: none;
}
.account_task_wrapper,
.account_co_wrapper{
display: inline-block;
position: relative;
padding: 8px 0;
width: 96%;
background: white;
border-radius: 1px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
box-shadow: 0 1px 3px 0 #b5b5b5;
-moz-box-shadow: 0 1px 3px 0 #b5b5b5;
-webkit-box-shadow: 0 1px 3px 0 #b5b5b5;
border-bottom: 4px solid #008BD3;
margin: 8px auto;
}
.account_task_wrapper > ul,
.account_co_wrapper > ul{
position: relative;
float: left;
width: 95%;
padding: 5px 2.5%;
text-align: left;
}
.account_task_wrapper li,
.account_co_wrapper li{
position: relative;
float: left;
width: 100%;
background: transparent;
padding: 8px 0 4px;
border-bottom: 1px solid #f2f2f2;
line-height: 18px;
list-style: none;
}
.account_task_wrapper li .thumbnail,
.account_co_wrapper li .thumbnail{
position: relative;
padding: 2px;
float: left;
margin: 0 10px 0 0;
}
.account_task_wrapper li .thumbnail img,
.account_co_wrapper li .thumbnail img{
background: white;
padding: 4px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
box-shadow: 0 0 2px #B5B5B5;
-moz-box-shadow: 0 0 2px #b5b5b5;
-webkit-box-shadow: 0 0 2px #B5B5B5;
}
.account_task_wrapper li > h3 a,
.account_co_wrapper li > h3 a{
color: #3b5998;
text-decoration: none;
}
.account_task_wrapper li > h3,
.account_co_wrapper li > h3{
color: #333;
font-weight: normal;
font-size: 14px;
}
.account_task_wrapper li > .date,
.account_co_wrapper li > .date{
color: #aaa;
margin: 5px 0;
font-size: 85%;
float: right;
}
.account_task_wrapper li > .num,
.account_co_wrapper li > .num{
color: #555;
margin: 5px 0;
font-size: 85%;
}
.account_task_wrapper li:last-child,
.account_co_wrapper li:last-child{
border: 0;
}
#account_task_select ._s,
#account_co_select ._s{
color: #008BD3;
}
/**/
#account_container a:hover,
#account_container a:active{
color: red;
}