#post-form{
display: inline-block;
position: relative;
padding: 20px 0;
width: 100%;
}
#post-form > div{
margin-bottom: 20px;	
}
#post-form > .task_select-area{
width:100%;
}
#post-form > .task_select-area > #post_task_select{
margin: 0 -1px 0 1px;
background: #fff;
border: 1px solid #ccc;
height: 30px;
line-height: 30px;
padding: 4px 6px;
font-size: 14px;
color: #555;
cursor: pointer;
vertical-align: middle;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
color: rgb(51, 153, 255);
}
#task-summit{
margin: 0 -1px 0 1px;
background: #fff;
border: 1px solid #ccc;
padding: 4px 6px;
font-size: 14px;
color: #555;
cursor: pointer;
vertical-align: middle;
border-radius: 4px;
color: rgb(51, 153, 255);
}
#post-form > div > input,#post-content{
border: 1px solid #1672B9;
background: #e7f1f8;
font-size: 15px;
border-radius: 5px;
padding: 8px 10px;
box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15);
margin: 0;
color: #555;
line-height: 17px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
width: 100%;
}
.hint{
color: white;
font-family: "微軟正黑體";
font-size: 20px;
margin-top: 5px;
}
@media screen and (min-width: 981px){
#post-content{
max-width: 600px;	
	}
}
@media screen and (min-width: 601px) and (max-width: 980px){
#post-content{
max-width: 600px;	
	}	
}
@media screen and (max-width: 600px){	
#post-content{
max-width: 320px;	
	}
}
