html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
html{
height: 100%;
}
body{
font: normal 100% Helvetica, Arial, sans-serif;
margin: 0 !important;
z-index: 1;
/*background: #e5e5e5;*/
background: url('../Images/grid.png') repeat;
height: 100%;
}
.dom_hidden{
overflow: hidden;
width: 0 !important;
height: 0 !important;
border: 0 !important;
margin: 0 !important;
padding: 0 !important;
}
#fixed_header{
position: fixed;
left: 0;
top: 0;
height: 50px;
width: 50px;
border-bottom: 1px solid #aaa;
-o-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
z-index: 51;
}
#fixed_logo{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 50px;
z-index: 11;
background: white;
}
#fixed_logo > div{
position: relative;
height: 100%;
width: 100%;
cursor: pointer;
background-image: url('../Images/skill_b.png');
background-repeat: no-repeat;
background-size: 45px 45px;
background-position: 50% 50%;
-webkit-animation: fadein 2s;
-moz-animation: fadein 2s;
-o-animation: fadein 2s;
-ms-animation: fadein 2s;
}
#top_header{
position: fixed;
left: 50px;
top: 0;
right: 0;
height: 50px;
background: rgba(255, 255, 255, 1);
border-bottom: 1px solid #aaa;
-o-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
-webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
box-shadow: 0 1px 0 0 rgba(0,0,0,.15);
z-index: 51;
}
#top_nav{
position: relative;
height: 100%;
width: 100%;
z-index: 101;
}
#top_logo{
position: absolute;
left: 0;
top: 0;
line-height: 50px;
font-size: 39px;
font-weight: 600;
color: #2D72D9;
padding: 0 9px 0 2px;
cursor: pointer;
-webkit-animation: fadein 2s;
-moz-animation: fadein 2s;
-o-animation: fadein 2s;
-ms-animation: fadein 2s;
}
#top_nav > article{
position: absolute;
left: 90px;
top: 0;
right: 0;
height: 50px;
}
/**/
#co_container{
position: absolute;
margin: 0 auto;
max-width: 900px;
top: 45px;
left: 70px;
right: 70px;
}
#container > div{
position: relative;
height: 100%;
width: 100%;
overflow-y: auto;
}
#_task_box_article_overlay{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 300;
background-color: rgba(0, 0, 0, 0.6);
}
/**/
._co_box_tittle{
margin-top: 60px;
text-align: center;
font-size: 30px;
font-weight: 600;
font-family: verdana;
margin-bottom: 20px;
color: #bfbfbf;
}
._co_box_framework0{
background: white;
width: 85%;
margin-left: 7.5%;
position: relative;
float: left;
box-shadow: 0 1px 2px #aaa;
margin-bottom: 15px;
}
._co_box_frameworkdiv{
padding: 10px;	
}
._co_box_dis_anstime{
color: #c8c9ca;
margin-bottom: 5px;
}

._co_box_task_border{
width: 85%;
margin-left: 7.5%;
position: relative;
float: left;
box-shadow: 0 1px 2px #aaa;
margin-bottom: 15px;
background-color: #EEEEEF;
}
._co_box_task_post{
background-color: white;
width: 90%;
margin: 2% 5%;
position: relative;
float: left;
border: 1px solid #ccc;
border-radius: 4px;
}
._co_box_dis_post1{
width:15%;
position: relative;
float: left;
margin-top: 20px;
}
._co_box_dis_post2{
width:80%;
position: relative;
float: left;
padding: 2.5%;
}
._co_box_bottomspace{
position: relative;
float: left;
height:50px;
width:80%;
}
.div_img{
	
}
.square-thumb_left {
width: 50px;
height: 50px;
position: relative;
float: left;    
margin-left: -80px;
}
.square-thumb_right {
width: 50px;
height: 50px;
position: relative;
float: right;
margin-right: -80px;
}
.square-thumb_post {
width: 50px;
height: 50px;
position: relative;
margin: auto;
}
@media screen and (min-width: 981px){

}
@media screen and (min-width: 601px) and (max-width: 980px){
._co_box_framework0{
width: 85%;
margin-left: 7.5%;
}
._co_box_task_border{
width: 85%;
margin-left: 7.5%;
}
}
@media screen and (max-width: 600px){
._co_box_framework0{
width: 97%;
margin-left: 1.5%;
}
.div_img{
position: relative;
float: left;
width: 100%;
margin-bottom: 6px;	
}
.square-thumb_left {
margin: auto;
float: initial;
}
.square-thumb_right {
margin: auto;
float: initial;
}
._co_box_task_border{
width: 97%;
margin-left: 1.5%;
}
._co_box_dis_post1 {
width: 100%;
}
._co_box_dis_post2 {
width: 100%;
}
#co_container {
position: initial;
}
/*#co_container{
right: 80px;
}*/
}
/*.square-thumb_left {
margin-left: -63px;
}
.square-thumb_right {
margin-right: -63px;
}
._co_box_dis_post{
background: white;
width: 80%;
margin-left: 10%;
}
.square-thumb_post {
margin-right: -5px;
}
*/

/****************/
/** 2013/11/18 **/
/* 梓憲新增 始  */
/****************/
#container{
position: fixed;
top: 45px;
bottom: 0;
left: 0;
right: 0;
z-index: 50;
}
.back_bottom{
position: absolute;
left: 10px;
bottom: 12px;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 10px 10px 10px 0;
border-right-color: #575757;
}
.back_front{
position: absolute;
left: 12px;
bottom: 12px;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 10px 10px 10px 0;
border-right-color: #fff;
}
#discuss_back:hover{
background: rgba(77,144,254,.7);
}
#discuss_nav{
position: fixed;
right: 0;
height: 44px;
left: 0;
top: 0;
background: #f1f1f1;
-o-box-shadow: 0 5px 10px #cbcbcb;
-moz-box-shadow: 0 5px 10px #cbcbcb;
-webkit-box-shadow: 0 5px 10px #cbcbcb;
box-shadow: 0 5px 10px #cbcbcb;
z-index: 31;
}
#discuss_list{
position: relative;
background: white;
height: 44px;
width: 100%;
text-align: center;
float: left;
}
#discuss_list > li {
position: relative;
list-style: none;
font-size: 18px;
line-height: 42px;
border-bottom: 2px solid transparent;
margin: 0 5px 0 40px;
display: inline-block;
border-color: #427fed;
font-weight: bold;
}
.discuss_back{
position: absolute;
left: 0;
top: 0;
height: 44px;
width: 40px;
}
#discuss_back{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
z-index: 40;
cursor: pointer;
}
#discuss_container{
position: absolute;
top: 45px;
left: 0;
bottom: 0;
right: 0;
z-index: 30;
overflow-y: auto;
background: url('../Images/grid.png');
}
/****************/
/** 2013/11/18 **/
/* 梓憲新增 末  */
/****************/
