html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
html{
height: 100%;
}
body{
font: normal 100% Helvetica, Arial, sans-serif;
margin: 0 !important;
z-index: 1;
/*background: #e5e5e5;*/
background: url('../Images/grid.png') repeat;
height: 100%;
}
.dom_hidden{
overflow: hidden;
width: 0 !important;
height: 0 !important;
border: 0 !important;
margin: 0 !important;
padding: 0 !important;
}
#container > div{
position: relative;
height: 100%;
width: 100%;
overflow-y: auto;
}
#_task_box_article_overlay{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 300;
background-color: rgba(0, 0, 0, 0.6);
}
/**/
#aa{
color: #fff;
background: #0995D8;
border: 1px solid #008BD3;
border-radius: 2px;
line-height: 20px;
height: 20px;
margin-right: 5px;
font-size: 13px;
padding: 0 5px;   
}

.square-thumb {
width: 50px;
height: 50px;
margin-left: 2px;
}
.square-thumb-post {
width: 80px;
height: 80px;
margin-left: 2px;
}
.image{
position: relative;
float: left;
width: 100%;
}
.pt{
position: absolute;
top: 5px;
left: 40px;
}
.input-append{
position: absolute;
line-height: 20px;
height: 20px;
bottom: 0;
right: 60px;
top: 26px;    
}
._co_box_framework0{
background: #EEEEEF;
width: 80%;
margin-top:2%;
margin-bottom:2%;    
margin-left: 10%;
position: relative;
float: left;
}
._co_box_qu_framework1_1{
text-align: center;
width: 40%;
position: relative;
float: left;
}
._co_box_qu_content1{
position: relative;
float: left;
width: 100%;
}
._co_box_qu_content1 > span {
padding: 0 4px;
border: 1px solid rgba(0,0,0,0.1);
background: #f1f1f1;
line-height: 22px;
}
._co_box_qu_framework1_2{    
position: relative;
float: left;    
width: 60%;
text-align: center;
}
._co_box_qu_content2{
height: 65%;
width: 95%;
padding: 2.5%;
padding-bottom: 50px;
}
._co_box_qu_framework1_3{
position: absolute;
right: 20px;;
bottom: 0;
height: 50px;
}
.ques_img{
height: 140px;    
}
._co_box_dis{
background: white;
width: 80%;
margin-left: 10%;
position: relative;
float: left;
}
._co_box_dis_border{
width: 80%;
margin-left: 10%;
background-color: #EEEEEF;
position: relative;
float: left;
}
._co_box_dis_post{
background-color: white;
width: 90%;
margin: 2% 5%;
position: relative;
float: left;
border: 1px solid #ccc;
border-radius: 4px;
}
._co_box_dis_framework1{
position: relative;
float: left;
width: 15%;
}
._co_box_dis_framework2{
width: 85%;
position: relative;
float: left;       
}
._co_box_dis_anstime{
color: #c8c9ca;
margin-bottom: 5px;
}
._co_box_dis_post1{
width:20%;
position: relative;
float: left;
margin-top: 37px;
}
._co_box_dis_post2{
position: relative;
float: left;
margin: 10px 0;
width: 80%;
text-align: center;
}
.img{
height: 60px;
width: 60px;

}
.badge1 {
display: inline-block;
width: 10px;
height: 10px;
background: #FFCC00;
border-radius: 50px;
}
.badge2 {
display: inline-block;
width: 10px;
height: 10px;
background: #C5C5C5;
border-radius: 50px;
}
.badge3 {
display: inline-block;
width: 10px;
height: 10px;
background: #CC9966;
border-radius: 50px;
}
.task_co{
text-align: center;	
}
._co_box_span{
width: 100%;
padding: 15px 20px;	
}
@media screen and (min-width: 981px){

}
@media screen and (min-width: 601px) and (max-width: 980px){
    
}
@media screen and (max-width: 600px){
._co_box_framework0{
width: 96%; 
margin-left: 2%;
}
._co_box_qu_framework1_1{
width: 100%;	
}
._co_box_qu_framework1_2{
width: 100%;
margin-top: 15px;	
}
._co_box_dis_framework1{
width: 100%;	
}
._co_box_dis_framework2{
width: 100%;	
}
._co_box_dis{
width: 96%;
margin-left: 2%;
}
._co_box_dis_border{
width: 96%; 
margin-left: 2%;	
}
._co_box_dis_post1{
width: 100%;
}
._co_box_dis_post2{
width: 100%;	
}
._co_box_span{
text-align: center;
padding: 5px 10px;	
}
.img-circle{
margin: auto;	
}
.tittle{
font-size: 20px;    
}
._co_box_discuss{
text-align: center;	
}
}
/****************/
/** 2013/11/18 **/
/* 梓憲新增 始  */
/****************/
#container{
position: fixed;
top: 45px;
bottom: 0;
left: 0;
right: 0;
z-index: 50;
}
.back_bottom{
position: absolute;
left: 10px;
bottom: 12px;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 10px 10px 10px 0;
border-right-color: #575757;
}
.back_front{
position: absolute;
left: 12px;
bottom: 12px;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
border-width: 10px 10px 10px 0;
border-right-color: #fff;
}
#discuss_back:hover{
background: rgba(77,144,254,.7);
}
#discuss_nav{
position: fixed;
right: 0;
height: 44px;
left: 0;
top: 0;
background: #f1f1f1;
-o-box-shadow: 0 5px 10px #cbcbcb;
-moz-box-shadow: 0 5px 10px #cbcbcb;
-webkit-box-shadow: 0 5px 10px #cbcbcb;
box-shadow: 0 5px 10px #cbcbcb;
z-index: 31;
}
#discuss_list{
position: relative;
background: white;
height: 44px;
width: 100%;
text-align: center;
float: left;
}
#discuss_list > li {
position: relative;
list-style: none;
font-size: 18px;
line-height: 42px;
border-bottom: 2px solid transparent;
margin: 0 5px 0 40px;
display: inline-block;
border-color: #427fed;
font-weight: bold;
}
.discuss_back{
position: absolute;
left: 0;
top: 0;
height: 44px;
width: 40px;
}
#discuss_back{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
z-index: 40;
cursor: pointer;
}
#discuss_container{
position: absolute;
top: 45px;
left: 0;
bottom: 0;
right: 0;
z-index: 30;
overflow-y: auto;
background: url('../Images/grid.png');
}
/****************/
/** 2013/11/18 **/
/* 梓憲新增 末  */
/****************/