#search_cv_wrapper {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: white;
border: 1px solid #dfdfdf;
margin: 0 auto;
width: 100%;
max-width: 980px;
-webkit-box-shadow: 0 0 10px 1px #c3c3c3;
-moz-box-shadow: 0 0 10px 1px #c3c3c3;
box-shadow: 0 0 10px 1px #c3c3c3;
}
.s_cv_item > .center{
color: #666;
font-size: 16px;
overflow: hidden;
padding: 2px 0;
max-height: 56px;
vertical-align: middle;
position: relative;
display: inline-block;
margin-right: 78px;
}
.s_cv_item > .right{
position: absolute;
right: 0;
top: 0;
margin: 15px 0;
}
.s_cv_item > .left > img{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 0;
width: 60px;
height: 60px;
vertical-align: middle;
cursor: pointer;
-webkit-box-shadow: 1px 1px 5px 1px #EBE5D7;
-moz-box-shadow: 1px 1px 5px 1px #EBE5D7;
box-shadow: 1px 1px 5px 1px #EBE5D7;
}
.s_cv_item > .center > .title{
color: black;
font-weight: bold;
line-height: 18px;
height: 18px;
}
.s_cv_item > .center > .title > a:hover{
text-decoration: underline;
}
.s_cv_item > .center > .context{
margin-top: 3px;
max-height: 35px;
white-space: normal;
line-height: 16px;
font-size: 14px;
}
.s_cv_item > .right > .bottom{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
height: 28px;
padding: 0 8px;
color: white;
background: #0995D8;
border: 1px solid #008BD3;
font-weight: bold;
font-size: 14px;
line-height: 28px;
}
.s_cv_item > .center > .title > a{
color: black;
text-decoration: none;
}
@media screen and (min-width: 768px){
.s_cv_item{
margin: 16px 20px;
position: relative;
}
.s_cv_item > .left{
margin-right: 12px;
position: relative;
display: inline-block;
vertical-align: middle;
}
}
@media screen and (max-width: 767px){
.s_cv_item{
margin: 16px 10px;
position: relative;
}
.s_cv_item > .left{
margin-right: 3px;
position: relative;
display: inline-block;
vertical-align: middle;
}
}