
.task_crown{
margin-top: -20px;
margin-left: -10px;
weight: 50px;
width: 40px;
height: 30px;
}
#task_result > .task_show {
margin-top: 20px;
width: 80%;
background-color: white;
display: auto;
margin-left: 10%;
overflow: hidden;
padding: 11px 0px;
float: left;
box-shadow: 0 1px 1px #aaa;
}
.task_show > .task_show1{
text-align: center;	
float: left;	
width: 20%;
}
.task_show > .task_show2{
font-size: 20px;
padding-left: 3%;	
float: left;	
width: 72%;
padding-top: 10px;
}
.task_show1 > .task_show_num{
float: left;
width: 33%;	
}
.task_show > .task_show_classify{
font-size: 15px;	
font-weight: 100;	
color: #2779FF;
text-align: center;	
float: left;	
width: 5%;
}
.task_show3{
padding-top: 13px;	
margin-bottom: 10px;
height: 25px;
font-size: 160%;
font-weight: normal;	
}
.task_show1 > .task_vote_color{
color: #555555;	

}
.task_show1 > .task_answer_color{
color: #9a4444;

}
.task_show1 > .task_views_color{
color: #999;	
	
}
.task_show2 > .task_span{
margin-top: 8px;	
}
.task_span > span {
float:left;
font-size: 15px;
color: #3E6D8E;
background-color: #E0EAF1;
border-bottom: 1px solid #b3cee1;
border-right: 1px solid #b3cee1;
padding: 3px 4px 3px 4px;
margin: 2px 2px 2px 2px;
text-decoration: none;
}
.task_show2 > .task_poster{
font-size: 15px;
}
.task_poster > .task_time {
margin-top: 8px;	
margin-right: 10px;	
float:right;	
color: #999;
}
.task_poster > .task_name {
margin-top: 8px;	
margin-right: 10px;	
float:right;		
}
.task_poster > .task_score {
margin-top: 8px;	
margin-right: 10px;	
float:right;		
color: #444;	
}
@media screen and (min-width: 981px){

}
@media screen and (min-width: 601px) and (max-width: 980px){
#task_result > .task_show {
padding: 0px;	
}	
.task_show2 > .task_poster{
	padding: 13px;
	}	
.task_show > .task_show1{
	width: 94%;	
	} 
.task_show > .task_show2{
padding: 0 0 0 13px;	
	width: 100%;	
	}  	   
.task_show1 > .task_show_num{
	float: left;
	width: 60px;	
	}
	.task_show3 {
	margin-bottom: 5px;
	height: 20px;
	font-size: 130%;
	font-weight: normal;
	}
.task_show > .task_show_classify {
	padding-top: 10px;
	}		
}
@media screen and (max-width: 600px){
#task_result > .task_show {
padding: 0px;	
}		
.task_show2 > .task_poster {
padding: 0 0 0 13px;
	float: left;
	width: 100%;
	margin: 6px 10px 0px 0px;
	font-size: 15px;
	margin-left: -60px;
	}		
#task_result > .task_show{
	width: 97%;
	margin-left: 1.5%;	
	}
.task_show > .task_show1{
	width: 90%;
	} 
.task_show > .task_show2{
	padding: 13px;	
	width: 100%;	
	}  	   
.task_show1 >.task_show_num{
	float: left;
	width: 60px;	
	}
.task_show > .task_show_classify {
	padding-top: 10px;
	}
.task_crown {
	margin-left: -15px;
	}		
}