a{
  text-decoration:none;
}
.task_crown{
height: 50px;
width: 50px;
}
#task_result > .task_show {
position: relative;
float: left;
width: 95%;
background-color: white;
padding:0 2.5%;
border-bottom:2px solid #eee;
}
.task_show > .task_show1{
position: relative;
float: left;
text-align: center;
padding-top: 10px;
font-size: 20px;
}
.task_show > .task_show2{
position: relative;
float: left;
width: 65%;
min-width:396px;
padding-top:10px;
}
.task_show1 > .task_show_num{
position: relative;
float: left;
width: 80px;
}
.task_show > .task_show_classify{
position: absolute;
right: -27px;
top: -12px;
}
.task_show_title{
position: relative;
float:right;
top: 10px;
}
.task_show_title > p{
background:rgb(207,232,253);
color:rgb(4,71,4);
padding:3px 6px;
border-radius:5px;
font-size: 14px;
font-weight:bold;
}
.task_poster{
position: relative;
float: right;
width: 100%;
padding-bottom: 5px;	
}
.task_show1 > .task_vote_color{
color: darkcyan;	
}
.task_show1 > .task_answer_color{
color: rgb(141,2,2);
}
.task_show1 > .task_views_color{
color: rgb(105,170,105);	
}
.task_show2 > .task_span{
position: relative;
float: left;
margin: 5px 0 0 20px;
}
.task_show2 > div{
font-size: 20px;
padding: 10px 25px 2px;
}
.task_show2 > div > a{
color: #4D2078;
clip:height;
height:20px;
padding: 5px;
}
.task_show2 > div > a:hover{
color: #4d2078;
clip:height;
background-color: #eeebff;
height:20px;
padding: 5px;
}
/*
a { 
border: #A498BD solid; 
height: 0px; 
color: #4D2078; 
border-width: 0px 0px 1px; 
padding-bottom: 5px}
a:hover {  
border: #605080 solid; 
height: 0px; 
color: #9900CC; 
border-width: 0px 0px 1px; 
padding-bottom: 2px}
*/
.task_span > span {
float:left;
font-size: 15px;
color: #3E6D8E;
background-color: #E0EAF1;
border-bottom: 1px solid #b3cee1;
border-right: 1px solid #b3cee1;
padding: 3px 4px 3px 4px;
margin: 2px 2px 2px 2px;
text-decoration: none;
}
.task_show2 > .task_poster{
font-size: 15px;
}
.task_poster > .task_time {	
float:right;	
color: #999;
}
.task_poster > .task_name {	
float:right;		
margin:0 10px;
}
.task_poster > .task_score {	
margin-right: 10px;	
float:right;		
color: #444;	
}
.task_bottom{
height: 20px;
width: 100%;
float:left;		
}
.task_classify{
width: 16px;
}
@media screen and (min-width: 981px){

}

@media screen and (min-width: 601px) and (max-width: 980px){
.task_show2 > .task_poster {
font-size: 14px;
	}		
.task_classify{
font-size: 12px;
}
.task_show_title{
font-size: 12px;	
}	
}

@media screen and (max-width: 600px){
#task_result > .task_show {
width: 95%;
margin: 1px 1px 1px 5px;	
}		
.task_show2 > .task_poster {
font-size: 14px;
	}		
.task_show > .task_show1{
font-size: 14px;
	}   
.task_show1 >.task_show_num{
width: 55px;
	}
.task_classify{
font-size: 12px;
}
.task_show_title{
font-size: 12px;	
}	
}
