@media screen and (min-width: 601px){
}
@media screen and (max-width: 600px){
}
/*
background: #0099CC;
background: -webkit-radial-gradient(circle,#4AA4DB,#0099CC);
background: -moz-radial-gradient(circle, #4AA4DB, #0099CC);
background: -o-radial-gradient(circle, #4AA4DB, #0099CC);
background: radial-gradient(circle, #4AA4DB, #0099CC);
*/
#home > img{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
opacity: .75;
}
.action-wrapper input{
background: #0995D8;
border: 1px solid #008BD3;
color: #fff;
}
#footer{
background: #0995D8;
color: #fff;
}
#fixed-nav li.current a{
border-bottom: 3px solid #0995D8;
}
.btn-color{
/*background: #8DD8FD;*/
background: #4096EE;
}
#sign-up_box > section .wrapper,
#login_box > section .wrapper,
#set_box > section .wrapper{
background: #0995D8;
}
.input-failure{
background: #008BD3;
}