html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
html, body{
height: 100%;
}
.chinese{
font-family: "Helvetica Neue",Helvetica,"微軟正黑體",Arial,sans-serif;
}
body{
font: normal 100% Helvetica, Arial, sans-serif;
font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
margin: 0 !important;
z-index: 1;
background: #fff;
font-size: 14px;
line-height: 1.5;
color: #333;
}
@font-face{
font-family: 'Maven Pro';
font-style: normal;
font-weight: 400;
src: local('Maven Pro Regular'), local('MavenProRegular'), url('../css/Font/MG9KbUZFchDs94Tbv9U-pT8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face{
font-family: 'Maven Pro';
font-style: normal;
font-weight: 900;
src: local('Maven Pro Black'), local('MavenProBlack'), url('../css/Font/-91TwiFzqeL1F7Kh91APwXhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
.dom_hidden{
visibility: hidden;
height:0;
overflow:hidden;
}
#header {
top: 0;
left: 0;
border-bottom: 1px solid #D6D6D6;
width: 100%;
background: rgba(255, 255, 255, 0.9);
position: fixed;
height: 50px;
z-index: 100;
}
#logo {
display: block;
border: none;
margin-top: 4px;
margin-bottom: 0px;
margin-left: 20px;
float: left;
font-size: 32px;
line-height: 1.4;
font-weight: 600;
}
#fixed-nav li:first-child{
margin-left: 0;
}
#home{
border-bottom: 1px solid #e1e1e1;
display: inline-block;
width: 100%;
height: 150px;
margin: 0px;
}
body > section{
position: relative;
border-bottom: 1px solid #e1e1e1;
background: #fcfcfc;
width: 100%;
float: left;
}
#fixed-nav li a{
color: #333;
padding-bottom: 5px;
text-decoration: none;
}
#nav-button {
display: none;
}
#footer {
font-weight: bold;
text-align: center;
font-size: 13px;
padding: 20px 0 20px 0;
}
.slogan{
position: relative;
height: 100%;
text-align: center;
width: 100%;
color: #fff;
font-size: 13px;
z-index: 10;
}
.slogan h2{
font-size: 20px;
color: rgba(3, 34, 255, 0.55);
letter-spacing: 6px;
}
#logo a{
color: #333;
text-decoration: none;
border: none;
letter-spacing: 3px;
text-transform: uppercase;
}
.content{
padding: 50px 0;
}
.title{
text-align: center;
margin: 0 0 40px 0;
}
.hr{
clear: both;
display: block;
width: 100%;
height: 20px;
line-height: 20px;
position: relative;
margin: 10px 0;
float: left;
}
.hr-inner{
border-color: #e1e1e1;
position: absolute;
height: 1px;
top: 50%;
margin-top: -1px;
border-top-width: 1px;
border-top-style: solid;
left: 50%;
width: 32%;
margin-left: -16%;
}
@media (max-width: 479px){
#header > .container {
width: 100%;
max-width: 320px;
margin: 0 auto;
}
}
@media (max-width: 767px) and (min-width: 479px){
#header > .container{
width: 480px;
margin: 0 auto;
}
/*
#sign-up-form,
#login-form,
#enter-form{
max-width: 480px;
}*/
}

@media (max-width: 979px) and (min-width: 768px){
#header > .container{
width: 724px;
margin: 0 auto;
}
#sign-up-form,
#login-form,
#enter-form{
max-width: 568px;
}
}
@media (max-width: 1199px) and (min-width: 980px){
#header > .container{
width: 960px;
margin: 0 auto;
}
#sign-up-form,
#login-form,
#enter-form{
max-width: 780px;
}
}
@media (min-width: 1200px){
#header > .container{
width: 1170px;
margin: 0 auto;
}
#sign-up-form,
#login-form,
#enter-form{
max-width: 900px;
}
}
@media (max-width: 767px){
#nav-button{
display: inline-block;
position: absolute;
left: 24px;
font-size: 24px;
top: 8px;
cursor: pointer;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
transition-duration: 0.3s;
}
#logo{
width: 100%;
font-size: 26px;
margin-top: 8px;
text-align: center;
}
#top-nav{
margin-top: 0px;
display: none;
background: #fff;
position: absolute;
top: 50px;
z-index: 99999;
border-right: 1px solid #D6D6D6;
border-bottom: 1px solid #D6D6D6;
left: 0;
text-align: center;
}
#top-nav ul{
float: none;
display: block;
}
#fixed-nav li{
padding: 10px;
display: block;
margin-bottom: 0px;
margin-left: 0px;
}
/*#sign-up-form input,
#login-form input,
.button-command,
.button-enter,
.input-failure{
max-width: 320px;
}*/
}
@media (min-width: 768px){
#top-nav ul{
font-family: 'Montserrat', sans-serif;
float: right;
margin-bottom: 0px;
text-align: center;
margin-top: 13px;
}
#fixed-nav li{
display: inline-block;
margin-left: 20px;
}
#sign-up-form input,
#login-form input,
.button-command,
.button-enter,
.input-failure{
max-width: 600px;
}
}
/**/
#sign-up_box,
#login_box,
#set_box{
background: rgba(0, 0, 0, 0.5);
padding: 0;
margin: 0;
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 500;
}
#sign-up_box > section > header,
#login_box > section > header,
#set_box > section > header{
position: absolute;
top: 0;
left: 0;
height: 45px;
width: 100%;
background: white;
border-radius:10px;
}
#sign-up_box > section > article,
#login_box > section > article,
#set_box > section > article{
overflow-y: auto;
bottom: 10px;
position: absolute;
width: 100%;
top: 45px;
background: #e5e5e5;
border-top: 2px solid #2D72D9;
overflow-y: hidden;
}
#sign-up_box > section .wrapper,
#login_box > section .wrapper,
#set_box > section .wrapper{
position: relative;
width: 100%;
height: 100%;
text-align: center;
overflow-y: auto;
}
#sign-up_box_leave,
#login_box_leave,
#set_box_next{
position: absolute;
right: 10px;
top: 6px;
font-size: 18px;
line-height: 30px;
height: 30px;
padding: 1px 10px;
border: 1px solid rgba(0,0,0,0.1);
background: #f1f1f1;
cursor: pointer;
color: #000;
}
@media screen and (min-width: 601px){
#sign-up_box > section,
#login_box > section,
#set_box > section{
z-index: 501;
position: fixed;
left: 10%;
right: 10%;
top: 5%;
bottom: 5%;
background: whitesmoke;
box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-webkit-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-o-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
width:400px;
height:415px;
margin:auto auto;
border-radius:10px;
}
}
@media screen and (max-height: 500px){
#sign-up_box > section,
#login_box > section,
#set_box > section{
  max-height:500px;
}
}

@media screen and (max-width: 600px){
#sign-up_box > section,
#login_box > section,
#set_box > section{
z-index: 501;
height: 100%;
width: 100%;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
background: whitesmoke;
box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-webkit-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-moz-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
-o-box-shadow: 5px 5px 50px rgba(20%,20%,40%,0.5);
margin:auto auto;
}
}
.action-wrapper{
position: relative;
display: inline-block;
width: 300px;
padding: 10px 0;
max-width: 768px;
}
.action-wrapper input{
margin: 0 2.5%;
width: 45%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
float: left;
cursor: pointer;
text-align: center;
font-size: 15px;
border-radius: 5px;
line-height: 33px;
padding: 0 15px;
box-shadow: 0 0 10px 1px #c3c3c3;
-webkit-box-shadow: 0 0 10px 1px #c3c3c3;
-moz-box-shadow: 0 0 10px 1px #c3c3c3;
}
.title > h2{
font-size: 28px;
letter-spacing: 5px;
font-family: "Helvetica Neue",Helvetica,"微軟正黑體",Arial,sans-serif;
}
/**/
#sign-up-form,
#login-form,
#enter-form{
position: relative;
float:right;
padding: 0;
width: 90%;
}
#set-need{
position: relative;
padding: 16px 0;
}
#set-motto{
  width:90%;
  margin:10px 5%;
}

#sign-up-form > div,
#login-form > div,
#enter-form > div{
width: 90%;
float:left;
}
#sign-up-form > div:first-child,
#login-form > div:first-child,
#enter-form > div:first-child{
margin-top: 15px;
}
#sign-up-form > div > input,
#login-form div > input{
border: 1px solid #1672B9;
background: #e7f1f8;
font-size: 15px;
border-radius: 5px;
padding: 8px 10px;
box-shadow: inset 0 1px 2px rgba(15,82,135,.25),0 1px 0 rgba(255,255,255,.15);
margin: 0;
color: #555;
line-height: 17px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
width: 100%;
float:left;
}
#sign-up-button,
#login-button,
#enter-button{
border: 1px solid #1D80CF;
width: 100%;
text-align: center;
font-size: 15px;
box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
border-radius: 5px;
cursor: pointer;
line-height: 33px;
display: block;
padding: 0 15px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
color: #fafafa;
font-weight: 700;
letter-spacing: 3px;
}
.button-command,
.button-enter{
display: inline-block;
}
.input-failure{
display: inline-block;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.15);
}
#sign-up-summary,
#login-summary,
#enter-summary{
list-style: none;
color: #fff;
text-align: left;
margin: 5px;
font-size: 17px;
line-height: 24px;
}
.icon-sign-error{
height: 16px;
width: 16px;
margin-right: 8px;
vertical-align: -3px;
}
.icon-sign{
display: inline-block;
background-image: url('../Images/error_blue.png');
background-repeat: no-repeat;
}
.another-signup{
color: #fff;
}
.sign-up_title,
.login_title,
.set_title{
font-size: 20px;
color: #555;
line-height: 45px;
margin-left: 10px;
}
/**/
#set-skill > h2,
#set-need > h2,
#set-motto > h2{
line-height: 30px;
margin-left: 5px;
font-size: 20px;
color: #fff;
}
#set-skill > p,
#set-need > p,
#set-motto > p{
text-align: left;
margin: 5px 10px;
color: #FF0;
}
#motto-area{
border: 0px;
background-color: rgba(130, 200, 255, 0.2);
padding: 10px 2.5%;
width: 95%;
height: 100px;
margin: 10px 0;
resize: vertical;
color: #fff;
}
#motto-area::-webkit-input-placeholder{
color: rgb(205, 230, 156);
}
#motto-area:-moz-placeholder{
color: rgb(205, 230, 156);
}
#motto-area:-ms-input-placeholder{
color: rgb(205, 230, 156);
}
.button-completed{
text-align: center;
width: 100%;
}
#set-completed{
display: inline-block;
border: 1px solid #1D80CF;
width: 100%;
text-align: center;
font-size: 15px;
color: #fff;
background: #80C3F7;
box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
border-radius: 5px;
cursor: pointer;
line-height: 33px;
padding: 0 15px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#preloader{
background: rgba(0, 0, 0, 0.5);
padding: 0;
margin: 0;
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 99999;
}
#preloader > h3{
position: absolute;
background: #0099CC;
height: 30px;
display: inline-block;
color: #fff;
padding: 5px;
bottom: 10px;
left: 0;
}
#preloader > h3 > img{
vertical-align: middle;
width: 30px;
height: 30px;
margin-right: 5px;
}
/**/
@media (min-width: 768px){
.slogan h1{
font-size: 28px;
letter-spacing: 5px;
}
}
@media (max-width: 767px){
.slogan h1{
font-size: 28px;
}
}
#nav-button:before {
content: "";
position: absolute;
top: 10px;
left: 9px;
width: 18px;
height: 3px;
border-top: 9px double black;
border-bottom: 3px solid black;
}
