#task{
position: fixed;
left: 50px;
top: 51px;
bottom: 0;
right: 0;
z-index: 10;
overflow-y: auto;
}
#task > .wrapper{
position: relative;
width: 100%;
height: 100%;
z-index: 10;
}
#task_nav{
position: fixed;
left: 50px;
right: 0;
top: 51px;
height: 46px;
background: #f1f1f1;
-moz-box-shadow: 0 2px 10px #cbcbcb;
-webkit-box-shadow: 0 2px 10px #cbcbcb;
box-shadow: 0 2px 10px #cbcbcb;
z-index: 31;
}
#task_container{
position: absolute;
top: 47px;
left: 0;
bottom: 0;
right: 0;
z-index: 30;
overflow-y: hidden;
}
#task_cloud{
position: relative;
height: 100%;
width: 100%;
overflow: hidden;
}
.task_item > header{
width: 100%;
padding: 2px 0;
}
.task_item > header > dl{
margin: 3px 0;
}
.task_item > .task_item_footer{
width: 100%;
padding: 5px 0;
border-top: 1px solid #cbcbcb;
}
.task_item > p{
padding: 10px 16px;
margin: 6px 0;
color: #444;
font-size: 17px;
font-weight: bold;
cursor: pointer;
}
.task_item dt{
position: relative;
width: 16px;
height: 16px;
float: left;
margin: 2px;
}
.task_item dd{
font-size: 14px;
line-height: 18px;
text-align: left;
margin-left: 23px;
margin-right: 5px;
}
.task_user-male{
background-image: url('../Images/male.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.task_user-female{
background-image: url('../Images/female.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.task_skill{
background-image: url('../Images/skill_g.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.task_user_data{
cursor: pointer;
}
.task_skill_data > span{
color: #fff;
background: #0995D8;
border: 1px solid #008BD3;
border-radius: 2px;
line-height: 20px;
height: 20px;
margin-right: 5px;
font-size: 13px;
padding: 0 5px;
}
.task_classify{
display: inline-block;
width: auto !important;
height: 18px !important;
font-size: 14px;
line-height: 18px;
font-weight: 600;
}
.task_classify_data > span{
padding: 0 4px;
line-height: 22px;
color: #4183c4;
text-decoration: underline;
cursor: pointer;
}
@media screen and (min-width: 981px){
.task_item{
background: white;
width: 46%;
margin: 8px 2% 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
}
#task_nav > section{
position: relative;
height: 30px;
margin: 8px 16px;
text-align: center;
}
}
@media screen and (min-width: 601px) and (max-width: 980px){
.task_item{
background: white;
width: 96%;
margin: 8px 2% 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
}
#task_nav > section{
position: relative;
height: 30px;
margin: 8px 16px;
text-align: center;
}
}
@media screen and (max-width: 600px){
.task_item{
background: white;
width: 96%;
margin: 8px 2% 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
}
#task_nav > section{
position: relative;
height: 30px;
margin: 8px 8px;
text-align: center;
}
}
.task_score{
text-align: left;
color: #6D6D6D;
height: 18px;
line-height: 18px;
font-size: 14px;
padding-left: 5px;
}
#task_result{
position: relative;
height: 100%;
width: 100%;
overflow-y: auto;
}
#task_nav-left{
position: absolute;
left: 0;
top: 0;
right: 100px;
height: 100%;
z-index: 35;
}
.task_select-area{
position: relative;
float: left;
width: 100px;
font-size: 0;
white-space: nowrap;
vertical-align: middle;
}
.task_search-area{
position: absolute;
left: 100px;
right: 14px;
top: 0;
font-size: 0;
white-space: nowrap;
vertical-align: middle;
text-align: left;
}
#task_select{
margin: 0 -1px 0 1px;
width: 100%;
background: #fff;
border: 1px solid #ccc;
height: 30px;
line-height: 30px;
padding: 4px 6px;
font-size: 14px;
color: #555;
cursor: pointer;
vertical-align: middle;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
color: rgb(51, 153, 255);
}
#task_select > option{
color: rgb(51, 153, 255);
}
#task_search{
position: relative;
width: 100%;
vertical-align: top;
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
background: #fff;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
height: 20px;
padding: 4px 6px;
margin: 0;
line-height: 20px;
color: #555;
}
#task_nav-right{
position: relative;
float: right;
width: 90px;
height: 100%;
}
.task_action-area{
position: relative;
display: inline-block;
font-size: 0;
white-space: nowrap;
vertical-align: middle;
width: 100%;
height: 100%;
}
.task_action-area > section:hover{
opacity: 0.5;
}
#task_action-tag_cloud{
position: relative;
display: inline-block;
margin: 0 -1px 0 1px;
width: 43px;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
vertical-align: top;
font-size: 14px;
padding: 4px 0px;
line-height: 20px;
color: #333;
text-align: center;
cursor: pointer;
background: #f5f5f5;
border: 1px solid #ccc;
border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
border-bottom-color: #b3b3b3;
}
#task_action-add_task{
position: relative;
display: inline-block;
margin: 0 1px 0 -1px;
width: 43px;
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
vertical-align: top;
font-size: 14px;
padding: 4px 0px;
line-height: 20px;
color: #333;
text-align: center;
cursor: pointer;
background: #f5f5f5;
border: 1px solid #ccc;
border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
border-bottom-color: #b3b3b3;
}
#task_action-serch{
position: relative;
display: inline-block;
margin: 0 1px 0 -1px;
width: 43px;
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
vertical-align: top;
font-size: 14px;
padding: 4px 0px;
line-height: 20px;
color: #333;
text-align: center;
cursor: pointer;
background: #f5f5f5;
border: 1px solid #ccc;
border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
border-bottom-color: #b3b3b3;
}
#task_action-serch > i{
display: inline-block;
width: 16px;
height: 18px;
line-height: 18px;
vertical-align: text-top;
background-image: url('../Images/search_gray.png');
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: 100%;
}
#task_action-tag_cloud > i{
display: inline-block;
width: 22px;
height: 18px;
line-height: 18px;
vertical-align: text-top;
background-image: url('../Images/cloud_gray.png');
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: 100%;
}
#task_action-add_task > i{
display: inline-block;
width: 16px;
height: 18px;
line-height: 18px;
vertical-align: text-top;
background-image: url('../Images/add_gray.png');
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: 100%;
}
#task_cloud_area{
position: fixed;
left: 50px;
top: 98px;
bottom: 0;
right: 0;
z-index: 35;
overflow-y: auto;
}
#task_action-back{
position: absolute;
right: 0;
top: 0;
margin: 0 1px 0 -1px;
width: 43px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: top;
font-size: 14px;
padding: 4px 0px;
line-height: 20px;
color: #333;
text-align: center;
cursor: pointer;
background: #f5f5f5;
border: 1px solid #ccc;
border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
border-bottom-color: #b3b3b3;
}
#task_action-back > i{
display: inline-block;
width: 16px;
height: 18px;
line-height: 18px;
vertical-align: text-top;
background-image: url('../Images/back_gray.png');
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: 100%;
}
#task_cloud_text{
position: absolute;
right: 5px;
bottom: 5px;
height: 22px;
line-height: 22px;
font-size: 14px;
padding: 4px 5px;
background: rgb(51, 153, 255);
color: white;
border: 1px solid #ccc;
border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
border-bottom-color: #b3b3b3;
border-radius: 5px;
}
#task_cloud_text > i{
display: inline-block;
width: 22px;
height: 22px;
line-height: 22px;
background-image: url('../Images/cloud_white.png');
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: 100%;
margin-right: 3px;
}
/*12/10 dnagyang rewrite layout*/
.task_top{
height: 50px;
background-color: #0995D8;
}
.task_bot{
height: 50px;
background-color: white;

}

