#learn{
position: fixed;
left: 50px;
top: 51px;
bottom: 0;
right: 0;
z-index: 10;
overflow-y: auto;
}
#learn > .wrapper{
position: relative;
width: 100%;
height: 100%;
z-index: 10;
}
#learn_nav{
position: fixed;
left: 50px;
right: 0;
top: 51px;
height: 54px;
background: #f1f1f1;
-o-box-shadow: 0 2px 10px #cbcbcb;
-moz-box-shadow: 0 2px 10px #cbcbcb;
-webkit-box-shadow: 0 2px 10px #cbcbcb;
box-shadow: 0 2px 10px #cbcbcb;
z-index: 20;
}
#learn_container{
position: absolute;
top: 55px;
left: 0;
bottom: 0;
right: 0;
z-index: 10;
overflow-y: hidden;
}
#learn_container > article{
position: relative;
height: 100%;
width: 100%;
overflow-y: auto;
}
#learn_container h2{
width: 100%;
text-align: center;
font-size: 20px;
line-height: 30px;
height: 30px;
float: left;
padding-top: 8px;
color: #2D72D9;
}
#learn_container .interval{
border-top: 5px solid #bbb;
}
.learn_item_left{
position: relative;
width: 40%;
height: 100%;
float: left;
text-align: center;
}
.learn_item_right{
position: relative;
width: 60%;
height: 100%;
float: left;
text-align: center;
overflow: hidden;
}
.learn_item_right > .details{
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
}
.learn_item_right dl{
margin: 3px 0;
}
.learn_item_right dt{
position: relative;
width: 16px;
height: 16px;
float: left;
margin: 2px;
}
.learn_item_right dd{
font-size: 14px;
line-height: 18px;
text-align: left;
margin-left: 23px;
margin-right: 5px;
}
.learn_user-male{
background-image: url('../Images/male.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.learn_user-female{
background-image: url('../Images/female.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.learn_user-organization{
background-image: url('../Images/organization.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.learn_education{
background-image: url('../Images/education_g.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.learn_email{
background-image: url('../Images/email_g.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.learn_join{
background-image: url('../Images/join_g.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.learn_skill{
background-image: url('../Images/skill_g.png');
background-repeat: no-repeat;
background-size: 100%;
background-position: 50% 50%;
}
.a_learn_email{
color: #4183c4;
text-decoration: none;
}
.learn_join_label{
color: #808080;
}
.learn_skill_data > span{
padding: 0 4px;
border: 1px solid rgba(0,0,0,0.1);
background: #f1f1f1;
line-height: 22px;
margin-right: 5px;
}
.learn_item_more{
position: absolute;
right: 5px;
bottom: 0;
color: #4183c4;
cursor: pointer;
font-weight: bold;
z-index: 20;
}
.learn_item_right > .others{
position: absolute;
top: 0;
right: -100%;
width: 100%;
height: 100%;
color: white;
background: white;
-o-transition: 500ms ease;
-moz-transition: 500ms ease;
-webkit-transition: 500ms ease;
transition: 500ms ease;
}
.learn_item_right > .others > p{
/**/height: 200px;
display: table-cell;
text-align: center;
vertical-align: middle;
cursor: pointer;
}
.metro_front{
-o-transform: translate(-100%, 0%) translateZ(0px);
-moz-transform: translate(-100%, 0%) translateZ(0px);
-webkit-transform: translate(-100%, 0%) translateZ(0px);
transform: translate(-100%, 0%) translateZ(0px);
}
.learn_item_area{
position: relative;
width: 100%;
height: 100%;
float: left;
text-align: center;
}
.learn_item_area > section div{
position: relative;
width: 100%;
height: 100%;
}
.learn_item_area > section dt{
position: relative;
width: 16px;
height: 16px;
float: left;
margin: 2px;
}
.learn_item_area > section dd{
font-size: 14px;
line-height: 18px;
text-align: left;
margin-left: 23px;
margin-right: 5px;
}
@media screen and (min-width: 981px){
.learn_item{
background: white;
width: 46%;
margin: 8px 2% 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-o-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
/**/height: 200px;
}
.learn_item_new{
background: white;
width: 21%;
margin: 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-o-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
height: 200px;
}
.learn_item_area > section dl{
position: relative;
display: inline-block;
width: 148px;
background: rgba(255,255,255,0.7);
}
.learn_item_area > section{
position: absolute;
left: 0;
right: 0;
bottom: 26px;
}
.learn_item_left > img,
.learn_item_area > img{
width: 150px;
height: 150px;
margin-top: 25px;
}
}
@media screen and (min-width: 601px) and (max-width: 980px){
.learn_item{
background: white;
width: 96%;
margin: 8px 2% 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-o-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
/**/height: 200px;
}
.learn_item_new{
background: white;
width: 46%;
margin: 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-o-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
height: 200px;
}
.learn_item_area > section dl{
position: relative;
display: inline-block;
width: 158px;
background: rgba(255,255,255,0.7);
}
.learn_item_area > section{
position: absolute;
left: 0;
right: 0;
bottom: 21px;
}
.learn_item_left > img,
.learn_item_area > img{
width: 160px;
height: 160px;
margin-top: 20px;
}
}
@media screen and (max-width: 600px){
.learn_item{
background: white;
width: 96%;
margin: 8px 2% 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-o-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
/**/height: 200px;
}
.learn_item_new{
background: white;
width: 96%;
margin: 8px 2%;
float: left;
box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
-o-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
height: 200px;
}
.learn_item_left > img{
width: 100px;
height: 100px;
margin-top: 50px;
}
.learn_item_area > section dl{
position: relative;
display: inline-block;
width: 158px;
background: rgba(255,255,255,0.7);
}
.learn_item_area > section{
position: absolute;
left: 0;
right: 0;
bottom: 21px;
}
.learn_item_area > img{
width: 160px;
height: 160px;
margin-top: 20px;
}
}
.learn_score{
text-align: left;
color: #6D6D6D;
height: 18px;
line-height: 18px;
font-size: 14px;
padding-left: 5px;
}
#learn_nav > section{
position: relative;
width: 95%;
margin: 11px 2.5%;
height: 32px;
text-align: center;
}
.targetMaster_box{
position: absolute;
top: 0px;
left: 0px;
right: 60px;
height: 100%;
}
#targetMaster{
position: relative;
height: 32px;
width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#submitMaster{
height: 32px;
width: 60px;
float: right;
box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-webkit-box-sizing: border-box;
cursor: pointer;
}