#information{
  position:fixed;
  left: 50px;
  top: 51px;
  bottom: 0;
  right: 0;
  z-index: 10;
  overflow-y: auto;
}

#information > .wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#information_nav{  /*2013/10/26 梓憲 修改*/
text-align: center;
font-size: 14pt;
position: fixed;
left: 50px;
right: 0;
top: 51px;
height: 54px;
background: #f1f1f1;
-o-box-shadow: 0 2px 10px #cbcbcb;
-moz-box-shadow: 0 2px 10px #cbcbcb;
-webkit-box-shadow: 0 2px 10px #cbcbcb;
box-shadow: 0 2px 10px #cbcbcb;
z-index: 20;
}

#information_category
{
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  overflow-y: auto;
  perspective: 1000;
}

#information_category:hover .i_c_itemi, #information_category.hover #i_c
{
  transform: rotateY(180deg);
}

#i_c
{
  transform-style: preserve-3d;
  transition:1.0s;
  position: relative;
}

.i_c_item
{
  color:black;
  z-index:20;
}

.i_c_item > p
{
  font-size:14pt;
  font-weight:bold;
  letter-spacing:1.5px;
  display:table-cell;
  height:200px;
  text-align:center;
  vertical-align:middle;
}

.i_c_back
{
  background:green;
  transform: rotateY(180deg);
  position:absolute;
  left:-100%;
  backface-visibility: hidden;
  z-index:-10;
}

.i_c_item,.i_c_back
{
  width:100%;
  height:100%;
  top:0;
  left:0;
  backface-visibility: hidden;
}

.deparment_block
{
  position:relative;
  top:55px;
  overflow:-y:auto;
}

.deparment
{
  display: none; 
  float:left;
}

.deparment > p
{
  height:200px;
  font-size:14pt;
  font-weight:bold;
  letter-spacing:1.5px;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

#liberal_arts, .liberal_arts_item
{
background:#ffccff;
}

#science, .science_item
{
background:#d1d1ff;
}

#engineer, .engineer_item
{
background:#adffd6;
}

#management, .management_item
{
background:#ffcc99;
}

#medicine, .medicine_item
{
background:#d1ffa3;
}

#social_science, .social_science_item
{
background:#ccffcc;
}

#electrical_enginee, .electrical_enginee_item
{
background:#ffffcc;
}

#planning_design, .planning_design_item
{
background:#99ffcc;
}

#bioscience, .bioscience_item
{
background:#ffcccc;
}
 
  @media screen and (min-width: 1000px){
    .i_c_item, .deparment{
      width: 30%;
      margin: 8px 1.5% 8px 1.5%;
      float: left;
      box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      -o-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      height: 210px;
  }}

  @media screen and (min-width: 601px) and (max-width: 1000px){
    .i_c_item, .i_c_back, .deparment{
      width: 46%;
      margin: 8px 2% 8px 2%;
      float: left;
      box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      -o-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      height: 200px;;
  }}

  @media screen and (max-width: 600px){
    .i_c_item, .deparment{
      width: 96%;
      margin: 8px 2% 8px 2%;
      float: left;
      box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      -moz-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      -o-box-shadow: 1px 1px 0 rgba(0,0,0,.1), 0 -1px 0 rgba(0,0,0,.07);
      height: 200px;;
  }}


//chiachia修改測試上傳
